<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="img/Logo.png" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">
    <link href="stylesheets/styles.css" rel="stylesheet" >
    <link href="stylesheets/AboutUs.css" rel="stylesheet">
    <title>Acerca de</title>
</head>

<body>

    <header>
        <div class="logo">
            <img style="width:120px; height:70px;" src="img/logo.png">
        </div>
        <div class="presentacion">
            <h1 class="titulo">Rocket | <span class="subti">Comunidad gamer</span> </h1>
        </div>

        <% if (login) { %>
            <div class="sesion-activa">
                <div class="nombre-usuario"> <%= name %> </div>
                
                <a href="logout" class="boton boton-75 logout">Logout</a>
            </div>
            <div class="btn-carrito">
                <a class="boton boton-75" href="carrito">Carrito</a>
            </div>
            <div class="btn-perfil">
                <a class="boton boton-75" href="perfil">Mi Perfil</a>
            </div>
        <%} else { %>
            <div class="btn-login-registro">
                <a class="boton boton-75" href="login">Iniciar sesión</a>
                <a class="boton boton-75" href="registro">Registrarse</a>
            </div>
        <% } %>

        

    </header>

    <div class="nav-bg-nbs">
        <nav class="navegacion contenedor" >
            <!-- Menu navegacion -->
            <a href="/">Home</a>
            <a href="tienda">Tienda</a>
            <a href="sobreNosotros">Sobre nosotros</a>
            <a href="noticias">Noticias</a>
            <a href="donacion">Proyectos Para Donar</a>
        </nav>
    </div>


    <section class="rocket">
        <div class="contenido-rocket">
            <h2>Descubre los ultimos video juegos</h2>
            <a class="boton" href="noticias">Explorar</a>
        </div>

    </section>

    <section>
        <div class="clientes contenedorC">
            <h2>
                Sobre el equipo Rocket
            </h2>
            <div class="cards">

                <div class="card">

                    <img src="img/Villa.png" alt="">
                    <div class="contenido-text-card">
                        <h4>Esteban Villa</h4>
                        <p> Estudiante de Ingeniería de sistemas de 7mo semestre en la Pontificia Universidad Javeriana. 
                            y cuento con conocimientos en: Java, Python, C++, C, MySql </p>
                    </div>
                </div>
            </div>

            <div class = "cards">
                <div class = "card">
                    <img src="img/EINFANCHES.jfif" alt="">
                    <div class="contenido-text-card">
                        <h4>Sergio Triana</h4>
                        <p> Estudiante de Ingeniería de sistemas en la Pontificia Universidad Javeriana. 
                            Conocimientos en Bases de Datos, C++, Java. </p>
                    </div>
                </div>
            </div>

            <div class="cards">
                <div class="card">
                    <img src="img/NBS.jfif" alt="">
                    <div class="contenido-text-card">
                        <h4>Nicolás Barragán</h4>
                        <p> Estudiante de Ingeniería de sistemas en la Pontificia Universidad Javeriana. 
                            Cursando séptimo semestre. Conocimientos en Bases de Datos, C++, Java. </p>
                    </div>
                </div>
            </div>

            <div class = "cards">
                <div class = "card">
                    <img src="img/Teletubbies.jfif" alt="">
                    <div class="contenido-text-card">
                        <h4>Cristian Gonzalez</h4>
                        <p> Estudiante de Ingeniería de sistemas. Me gusta la rumbita y dormir cuando hay parcial </p>
                    </div>
                </div>
            </div>


            <div class="cards">
                <div class="card">

                    <img src="img/Torres.jpeg" alt="">
                    <div class="contenido-text-card">
                        <h4>Santiago Torres</h4>
                        <p> Estudiante de Ingeniería de sistemas. Me gusta hacer el almuerzo </p>
                    </div>
                </div>
            </div>

            <div class = "cards">
                <div class = "card">
                    <img src="img/Teletubbies.jfif" alt="">
                    <div class="contenido-text-card">
                        <h4>Julian Rizo</h4>
                        <p> Estudiante de Ingeniería de sistemas. Y me gustan los poderes. </p>
                    </div>
                </div>
            </div>


            <div class="cards">
                <div class="card">
                    <img src="img/Teletubbies.jfif" alt="">
                    <div class="contenido-text-card">
                        <h4>Julian Carrillo</h4>
                        <p> Estudiante de Ingeniería de sistemas. Y no pongo la foto de la Wiki. </p>
                    </div>
                </div>
            </div>


        </div>

    </section>


    <footer>
        <section>
            <div class="redes">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="40"
                    height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fd0061" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <rect x="4" y="4" width="16" height="16" rx="4" />
                    <circle cx="12" cy="12" r="3" />
                    <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="40"
                    height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00abfb" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="40"
                    height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00bfd8" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z" />
                </svg>

            </div>
            <section>
                <p>Copyright © Todos los derechos reservados Rocket 2020 </p>
            </section>
    </footer>
</body>

</html>